
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-[#222222] antialiased overflow-x-hidden;
    background-image: url('mywebpage2/public/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  ::selection {
    @apply bg-[#222222] text-white;
  }
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .image-container {
  background-image: url("mywebpage2/public/background.jpg");
  width: 600px;
  height: 400px;
}
  .video-container {
  opacity: 1;
  visibility: visible;
}
  
  .link-underline {
    @apply relative after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-current after:transition-transform after:duration-300 hover:after:origin-bottom-left hover:after:scale-x-100;
  }

  .marquee-container {
    @apply overflow-hidden whitespace-nowrap;
  }

  .marquee-content {
    @apply inline-block animate-marquee;
  }
}

.geometric-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.01) 1px, transparent 1px);
  background-size: 4rem 4rem;
}
